**Python runs on an interpreter system, meaning that code can be executed as soon as it is written. This means that prototyping can be very quick.**

In [5]:
print("radha"); print("aman")

radha
aman

In [6]:
import sys
print(sys.version)

3.14.0 (tags/v3.14.0:ebf955d, Oct  7 2025, 10:15:03) [MSC v.1944 64 bit (AMD64)]

In [9]:
print("radha" , end=" "); print("aman")

radha aman

In [14]:
x = str(3)
print(type(x))
x = float(3)
print(type(x),x)

<class 'str'>
<class 'float'> 3.0

In [16]:
fruits = ['apple','banana','cherry']
a,b,c = fruits
print(a,b,c)

apple banana cherry

In [21]:
print("hello","world") # its default argument sep=" "

hello world

In [22]:
print("Hello","world",sep="***")

Hello***world

In [23]:
x=y=z="orange"
print(x,y,z)

orange orange orange

In [29]:
x = "Python"
y = "is"
z = "awesome"
output=print(x, y, z,sep="_")
print(output)

Python_is_awesome
None

In [30]:
x = 5; str = "aman"
print(x+str)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [33]:
x= "awesome"
def myfunc():
    x="fantastic"
    print("python is ",x)

myfunc()
print("python is ",x)

python is  fantastic
python is  awesome

In [40]:
def myfunc():
    global x ; 
    x = "fantastic"
    print("python is ",x)

x = "awesome"
print("python is ",x)
myfunc()
print("python is ",x)

python is  awesome
python is  fantastic
python is  fantastic

In [43]:
x=1j
print(x,type(x))

1j <class 'complex'>

In [44]:
x = ["apple", "banana", "cherry"]
print(x,type(x))

['apple', 'banana', 'cherry'] <class 'list'>

In [45]:
x = ("apple", "banana", "cherry")
print(x,type(x))

('apple', 'banana', 'cherry') <class 'tuple'>

In [46]:
x=range(6)
print(x,type(x))

range(0, 6) <class 'range'>

In [47]:
x = {"name" : "John", "age" : 36}
print(x,type(x))

{'name': 'John', 'age': 36} <class 'dict'>

In [48]:
x = {"apple", "banana", "cherry"}
print(x,type(x))

{'apple', 'banana', 'cherry'} <class 'set'>

In [49]:
x = frozenset({"apple", "banana", "cherry"})
print(x,type(x))

frozenset({'apple', 'banana', 'cherry'}) <class 'frozenset'>

In [50]:
x=b"Hello"
print(x,type(x))

b'Hello' <class 'bytes'>

In [51]:
x = bytearray(5)
print(x,type(x))

bytearray(b'\x00\x00\x00\x00\x00') <class 'bytearray'>

In [52]:
x = memoryview(bytes(5))	
print(x,type(x))

<memory at 0x0000021D88B0E5C0> <class 'memoryview'>

In [53]:
x = None	
print(x,type(x))

None <class 'NoneType'>

In [54]:
x=int(20.5)
print(x,type(x))

20 <class 'int'>

In [64]:
x = 1
y = 35656222554887711566666666666
z = -3255522

print(x,type(x))
print(y,type(y))
print(z,type(z))

1 <class 'int'>
35656222554887711566666666666 <class 'int'>
-3255522 <class 'int'>

## **random numbers**

In [82]:
import random
print(random.randrange(1,10))
print(random.randint(1,10))
print("loop starts")
for i in range(10):
    print(random.randint(1,10))

4
7
loop starts
2
4
6
5
10
8
7
9
10
7

In [67]:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [68]:
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [83]:
a = "Hello, World!"
print(a[1])

e

In [84]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [86]:
x = "aman kumar"
print(len(x))

10

In [89]:
txt = "The best things in life are free!"
print("free" in txt)
print("expensive" not in txt)

True
True

In [97]:
b = "Hello, World"
print(b[2:5])
print(b[2:])
print(b[-1])
print(b[-2])
print(b[-3])
print(b[-5:-2])

llo
llo, World
d
l
r
Wor

In [100]:
x = "aman"
print(x.upper())
print(x.lower())
x[0] = x[0].upper() # strings in Python are immutable. cannot change a specific character of a string using assignment like:
print(x)

AMAN
aman

TypeError: 'str' object does not support item assignment

In [111]:
x = "aman kumar"
print(x.capitalize())
print(x.replace("a","A"))

Aman kumar
AmAn kumAr

In [117]:
x = "Hello , World"
print(x.split(","),type(x.split(",")),sep="\n")

['Hello ', ' World']
<class 'list'>

In [119]:
a = 'Join'
b = 'the'
c = 'party'
print(a + ' ' + b + ' ' + c)

Join the party

In [122]:
age = 34
txt = f"i am aman and i am {age}"
print(txt)
txt = f"i am aman and i am {age:.2f}"
print(txt)

i am aman and i am 34
i am aman and i am 34.00

In [126]:
# escape character
# An escape character is a backslash \ followed by the character you want to insert.
txt = "We are the so-called \"Vikings\" from the north."
print(txt)
txt = "We are the so-called \\Vikings\" from the north."
print(txt)
txt = "We are the so-called \'Vikings\' from the north."
print(txt)

We are the so-called "Vikings" from the north.
We are the so-called \Vikings" from the north.
We are the so-called 'Vikings' from the north.

In [131]:
x = "aman KUMAR"
print(x.casefold())

aman kumar

In [132]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [137]:
print(bool("Hello"))
print(bool(15))
print(bool(0))
print(bool(""))
print(bool(" "))

True
True
False
False
True

In [139]:
bool(["apple", "cherry", "banana"])

True

In [141]:
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [144]:
class MyClass:
    def __len__(self):
        return 0

obj = MyClass()
print(obj.__len__())
print(bool(obj))

0
False

In [145]:
x = 200
print(isinstance(x, int))

True

In [147]:
x = 15
y = 4

print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x % y)
print(x ** y)
print(x // y) # floor of division

19
11
60
3.75
3
50625
3

In [ ]:
# walrus operator
numbers = [1, 2, 3, 4, 5]
count = len(numbers)
if count > 3:
    print(f"List has {count} elements")
# It lets you assign a value to a variable as part of an expression, not only as a standalone statement.
if (count := len(numbers)) > 3:
    print(f"List has {count} elements")

List has 5 elements
List has 5 elements

In [156]:
text = input("Name: ")
print(text,type(text))

4+5 <class 'str'>

In [158]:
text = input("Name: ")
while text != "":
    print("Hello", text)
    text = input("Name: ")

Hello aman

In [159]:
while (text := input("Name: ")) != "":
    print("Hello", text)

Hello aman
Hello kumar
Hello radha

In [166]:
nums = [1,2,3,4,5]
result = [n*n for n in nums if (s:=n*n) > 10]
print(result)
# walrus operator assigns and return the values.

[16, 25]

In [169]:
# python allows you to chaining operators
x= 5
print(1<x<10)
print(1<x<5)

True
False

In [ ]:
# identity operators
# Identity operators are used to compare the objects, 
# not if they are equal, but if they are actually the same object, with the same memory location:

# is operator returns true if both variables are pointing to the same object.

x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)
print(x is y)
print(x == y)

True
False
True

In [173]:
print(x is not y)

True

In [174]:
# memership operators
# in , not in

In [175]:
# bitwise operator
print(6 & 3)
print(6 | 3)
print(6 ^ 3)

2
7
5

In [176]:
print(100 + 5 * 3)

115

In [177]:
print(5 + 4 - 7 + 3)
# Addition + and subtraction - has the same precedence, 
# and therefore we evaluate the expression from left to right:

5