In [1]:
# The list is changeable, meaning that we can change, add,
#  and remove items in a list after it has been created.

In [3]:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist) # allow duplicates 
print(thislist[0]) # list are indexed

['apple', 'banana', 'cherry', 'apple', 'cherry']
apple

In [10]:
thislist = ["aman", 5, True ]
print(thislist,type(thislist),sep=" || ")
for elements in thislist:
    print(elements,type(elements))

['aman', 5, True] || <class 'list'>
aman <class 'str'>
5 <class 'int'>
True <class 'bool'>

In [11]:
thislist = list(("aman",5+5))
print(thislist , type(thislist))

['aman', 10] <class 'list'>

In [ ]:
#There are four collection data types in the Python programming language:

""" 
List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.
"""

' \nList is a collection which is ordered and changeable. Allows duplicate members.\nuple is a collection which is ordered and unchangeable. Allows duplicate members.\nSet is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.\nDictionary is a collection which is ordered** and changeable. No duplicate members.\n'

In [15]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [17]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])
print(thislist[-4:])

['cherry', 'orange', 'kiwi']
['orange', 'kiwi', 'melon', 'mango']

In [19]:
thislist[0] = "aman"
print(thislist)

['aman', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
thislist[1:3] = ["aman", "radha"]
print(thislist)

['apple', 'aman', 'radha', 'orange', 'kiwi', 'mango']

In [22]:
thislist = ["apple", "banana", "cherry"]
thislist[1:3] = ["watermelon"] # replacing 1 and 2nd position by this value
print(thislist)

['apple', 'watermelon']

In [24]:
thislist = ["apple", "banana", "cherry"]
print(len(thislist))
thislist[1:3] = ["aman" , "kumar","choudhary"]
print(thislist)
print(len(thislist))

3
['apple', 'aman', 'kumar', 'choudhary']
4

In [26]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [30]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(-1, "watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry']

In [32]:
thislist = ["apple", "banana", "cherry"]
thislist.append("aman")
print(thislist)

['apple', 'banana', 'cherry', 'aman']

In [37]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)
print(tropical)
tropical.extend(thislist)
print(tropical)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']
['mango', 'pineapple', 'papaya']
['mango', 'pineapple', 'papaya', 'apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [38]:
# The extend() method does not have to append lists, 
# you can add any iterable object (tuples, sets, dictionaries etc.).
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [39]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thistuple.extend(thistuple)
print(thistuple)

AttributeError: 'tuple' object has no attribute 'extend'

In [40]:
thislist = ["apple", "banana", "cherry"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry']

In [42]:
thislist.remove("aman")

ValueError: list.remove(x): x not in list

In [44]:
# If there are more than one item with the specified value, 
# the remove() method removes the first occurrence:
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
thislist.remove("apple")
print(thislist)

['banana', 'cherry', 'apple', 'cherry']

In [45]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1) # remove by index
print(thislist)

['apple', 'cherry']

In [46]:
thislist = ["apple", "banana", "cherry"]
thislist.pop() # removes last element
print(thislist)

['apple', 'banana']

In [47]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [48]:
thislist = ["apple", "banana", "cherry"]
del thislist
print(thislist)

NameError: name 'thislist' is not defined

In [49]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [50]:
thislist = ["apple", "banana", "cherry"]
for x in thislist:
  print(x)

apple
banana
cherry

In [53]:
thislist = ["apple", "banana", "cherry"]
print(range(len(thislist)))
for i in range(len(thislist)):
    print(i,thislist[i])

range(0, 3)
0 apple
1 banana
2 cherry

In [57]:
a=[print(x) for x in thislist]
print(a)

apple
banana
cherry
[None, None, None]

In [59]:
# list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango",'aman']
fruitsa = [x for x in fruits if (x[0]) == 'a']
print(fruitsa)

['apple', 'aman']

In [61]:
fruitsa = [x for x in fruits if 'a' in x] # a in fruit
print(fruitsa)

['apple', 'banana', 'mango', 'aman']

In [63]:
newrange = [x for x in range(10)]
newrange

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [64]:
newlist = [x for x in range(10) if x < 5]
newlist

[0, 1, 2, 3, 4]

In [66]:
fruits

['apple', 'banana', 'cherry', 'kiwi', 'mango', 'aman']

In [68]:
# "Return the item if it is not banana, if it is banana return orange".

newlist = [x if x != "banana" else "orange" for x in fruits]
newlist

['apple', 'orange', 'cherry', 'kiwi', 'mango', 'aman']

In [70]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)
thislist.sort(reverse=True)
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [71]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [74]:
# customize sort function

def myfunc(n):
  return abs(n - 50)
thislist = [100, 50, 65, 82, 23]
thislist.sort(key=myfunc)
print(thislist)

[50, 65, 23, 82, 100]

In [75]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [76]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [77]:
# You cannot copy a list simply by typing list2 = list1,
#  because: list2 will only be a reference to list1, 
# and changes made in list1 will automatically also be made in list2.

In [87]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [88]:
list2 = list(thislist)
thislist[0] = "Aman"
print(list2)
print(thislist)

['apple', 'banana', 'cherry']
['Aman', 'banana', 'cherry']