In [3]:
thistuple = ("apple", "banana", "cherry")
print(thistuple,type(thistuple),len(thistuple))

('apple', 'banana', 'cherry') <class 'tuple'> 3

In [5]:
thistuple = ("apple",) # remember this comma
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [6]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1,type(tuple1))

('abc', 34, True, 40, 'male') <class 'tuple'>

In [7]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [8]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [9]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

**Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.**

**But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.**

In [11]:
x = ("apple", "banana", "cherry")
y = list(x)
print(x,type(x))
print(y,type(y))
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'banana', 'cherry') <class 'tuple'>
['apple', 'banana', 'cherry'] <class 'list'>
('apple', 'kiwi', 'cherry')

In [12]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [14]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [15]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)

### **unpacking**

In [24]:
fruits = ("apple", "banana", "cherry")

green, yellow,_ = fruits
print(green,yellow)

apple banana

In [26]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green,type(green))
print(yellow)
print(red,type(red))

apple <class 'str'>
banana
['cherry', 'strawberry', 'raspberry'] <class 'list'>

In [28]:
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

In [30]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)
mytuple = fruits+fruits
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [31]:
#Tuples exist in Python because they serve purposes that lists cannot, especially in areas of safety, performance, and semantics.
# A list is not a universal substitute for a tuple.

# 2. Tuples Can Be Dictionary Keys (Lists Cannot)

# Because tuples are immutable, they are hashable.
coords = {}
coords[(10, 20)] = "tree"

print(coords[(10, 20)])

tree

In [32]:
coords[[10, 20]] = "tree"  # TypeError: unhashable type: 'list'

TypeError: cannot use 'list' as a dict key (unhashable type: 'list')

In [33]:
# Tuples require less memory and fewer operations.

In [34]:
#Tuples represent records, similar to a row in a database or struct in C.
student = ("Aman", 21, "CSE")

In [36]:
def divide(a, b):
    return (a // b, a % b)

q, r = divide(10, 3)
q,r

(3, 1)