In [ ]:
# A set is a collection which is unordered, unchangeable*, and unindexed.

In [2]:
thisset = {"apple", "banana", "cherry"}
print(thisset,type(thisset))

{'cherry', 'apple', 'banana'} <class 'set'>

In [3]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [8]:
thisset = {"apple", "banana", "cherry", True, 1, 2,"1"}

print(thisset) # True and 1 considered as same value

{'cherry', 2, True, '1', 'apple', 'banana'}

In [9]:
len(thisset)

6

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("aman")

print(thisset)

{'aman', 'cherry', 'apple', 'banana'}

In [12]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset,len(thisset))

{'cherry', 'pineapple', 'papaya', 'apple', 'mango', 'banana'} 6

In [13]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'cherry', 'orange', 'apple', 'banana', 'kiwi'}

In [15]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange")

thisset.update(mylist)

print(thisset,type(thisset),type(mylist),len(thisset))

{'cherry', 'orange', 'apple', 'banana', 'kiwi'} <class 'set'> <class 'tuple'> 5

In [16]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [18]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop() # remove a random item from set

print(x)

print(thisset)

cherry
{'apple', 'banana'}

In [19]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

In [21]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3,"a"}
print(set1.union(set2))
print(set2.union(set1))

{1, 2, 3, 'a', 'b', 'c'}
{1, 2, 3, 'a', 'b', 'c'}

In [23]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3 = set1 | set2
set3 = set2 | set1
print(set3)

{1, 2, 3, 'a', 'b', 'c'}

In [24]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'cherry', 'a', 'b', 'apple', 'bananas', 'John', 'c', 'Elena'}

In [25]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
print(set1.intersection(set2))

{'apple'}

In [26]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 & set2
print(set3)

{'apple'}

In [28]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set2) # eep ONLY the duplicates, but it will change the original set instead of returning a new set.

print(set1)

{'apple'}

In [31]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.difference(set2) # The difference() method will return a new set that will contain only the items from the first set that are not present in the other set.

print(set3)
print(set2.difference(set1))

{'cherry', 'banana'}
{'google', 'microsoft'}

In [32]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 - set2
print(set3)

{'cherry', 'banana'}

In [33]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.difference_update(set2)

print(set1)

{'cherry', 'banana'}

In [ ]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1.symmetric_difference(set2) # The symmetric_difference() method will keep only the elements that are NOT present in both sets.

print(set3)

{'cherry', 'microsoft', 'banana', 'google'}

In [35]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3 = set1 ^ set2
print(set3)

{'cherry', 'microsoft', 'banana', 'google'}

In [36]:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.symmetric_difference_update(set2)

print(set1)

{'cherry', 'microsoft', 'banana', 'google'}

## **frozenset**

In [38]:
# frozenset is an immutable version of a set.

# Like sets, it contains unique, unordered, unchangeable elements.

# Unlike sets, elements cannot be added or removed from a frozenset.

In [39]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'apple', 'banana'})
<class 'frozenset'>